.workHero {
  padding:clamp(55px,10vw,150px) 0 clamp(55px,9vw,110px);
}
.workHero h1 {
  max-width:980px;
  margin:22px 0;
  font-size:clamp(50px,8vw,130px);
  font-weight:600;
  line-height:.95;
  letter-spacing:-.075em;
}
.workHero h1 em {
  font-family:var(--serif);
  font-weight:500;
}
.workHero p {
  max-width:530px;
  margin:0;
  font-size:17px;
}
